<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/bootstrap.css" rel="stylesheet" />
</head>
 <body>
 	 			<div class="w3-main" style="margin-left:300px;margin-top:43px;">
	
 					<!-- Header -->
			          <header class="w3-container" style="padding-top:22px">
			            <h5><b><i class="fa fa-dashboard"></i> Mi Flujo de trabajo</b></h5>
			          </header>
					
					<div class="container" th:fragment="workflow">
					<div class="input-group">
			            <div>
			                <span class="input-group-addon">Numero Cotizacion</span>
			                <input id="rut_cliente" type="text" class="form-control" name="rut_cliente">
			              </div>
			              <p>
			              <div>
			                <span class="input-group-addon">Poliza de seguro </span>
			                <input id="nombre_cliente" type="text" class="form-control" name="nombre_cliente" required>
			              </div>
			               <div>
			                <span class="input-group-addon">Medio de Pago</span>
			                <input id="giro" type="text" class="form-control" name="giro" required>
			              </div>
			                 <div>
			                <span class="input-group-addon">Incoterm</span>
			                <input id="email" type="text" class="form-control" name="email" required>
			              </div>
			               <div>
			                <span class="input-group-addon">Numero telefonico</span>
			                <input id="telefono" type="text" class="form-control" name="telefono" required>
			              </div>
			                 <div>
			                <span class="input-group-addon">Ingresar Tansporte Terrestre</span>
			                <input id="comuna" type="text" class="form-control" name="comuna" required>
			              </div>
			              <div>
			                <span class="input-group-addon">Ingrese Numero de Factura</span>
			                <input id="direccion" type="text" class="form-control" name="direccion" required>
			              </div>
			              <div>
			                <span class="input-group-addon">Numero DUS o DIN</span>
			                <input id="direccion" type="text" class="form-control" name="direccion" required>
			              </div>
			              <div>
			              		 <span class="input-group-addon">Numero DUS o DIN</span>
			              		 			              
				                <div class="form-check">
								  <label class="form-check-label">
								    <input type="radio" class="form-check-input" name="optradio">Option 1
								  </label>
								</div>
								<div class="form-check">
								  <label class="form-check-label">
								    <input type="radio" class="form-check-input" name="optradio">Option 2
								  </label>
								</div>
								<div class="form-check disabled">
								  <label class="form-check-label">
								    <input type="radio" class="form-check-input" name="optradio" disabled>Option 3
								  </label>
								</div>
							</div>
			              <div>
			              <button type="button" class="btn btn-outline-primary" onclick="javascript:BLController('insertCliente')">Guardar</button>
			              </div>
			          </div>
			      </div>
			 	</div>
</body>
</html>